In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df=pd.read_csv("/Users/palaparthisainikhil/Downloads/listings.csv")

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.73777,-73.95366,Hotel room,308,2,42,2022-07-18,0.30,30,217,4,NaN
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64529,-73.97238,Private room,299,30,9,2018-10-19,0.11,9,356,0,NaN
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.70309,-73.89963,Entire home/apt,425,30,13,2019-11-12,0.10,6,365,0,NaN
3,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.80635,-73.92201,Private room,60,30,0,NaN,NaN,1,83,0,NaN
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.80630,-73.95985,Private room,75,31,135,2022-07-11,0.95,1,219,4,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39881 entries, 0 to 39880
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              39881 non-null  int64
 1   name                            39868 non-null  object
 2   host_id                         39881 non-null  int64
 3   host_name                       39831 non-null  object
 4   neighbourhood_group             39881 non-null  object
 5   neighbourhood                   39881 non-null  object
 6   latitude                        39881 non-null  float64
 7   longitude                       39881 non-null  float64
 8   room_type                       39881 non-null  object
 9   price                           39881 non-null  int64
 10  minimum_nights                  39881 non-null  int64
 11  number_of_reviews               39881 non-null  int64
 12  last_review                     31519 non-null  object
 13  reviews_per_month               31519 non-null  float64
 14  calculated_host_listings_count  39881 non-null  int64
 15  availability_365                39881 non-null  int64
 16  number_of_reviews_ltm           39881 non-null  int64
 17  license                         5 non-null      object
dtypes: float64(3), int64(8), object(7)
memory usage: 5.5+ MB

In [5]:
pip install geopy

Requirement already satisfied: geopy in /opt/anaconda3/lib/python3.8/site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/anaconda3/lib/python3.8/site-packages (from geopy) (1.52)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import geopy
from geopy.geocoders import Nominatim
import pandas as pd

longlat = pd.read_csv("/Users/palaparthisainikhil/Downloads/listings.csv")
longlat=longlat.head(1300)
geolocator = geopy.Nominatim(user_agent="check_1")

def get_zip_code(longlat, geolocator, latitude, longitude):
    try:
        location = geolocator.reverse((longlat[latitude], longlat[longitude]))
        return location.raw['address']['postcode']
    except:
        return "000"

longlat['zipcode'] = longlat.apply(get_zip_code, axis=1, geolocator=geolocator, latitude='latitude', longitude='longitude')


longlat

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,zipcode
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,308,2,42,2022-07-18,0.30,30,217,4,NaN,11222
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,299,30,9,2018-10-19,0.11,9,356,0,NaN,11218
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,425,30,13,2019-11-12,0.10,6,365,0,NaN,11385
3,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.806350,-73.922010,Private room,60,30,0,NaN,NaN,1,83,0,NaN,10454
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,75,31,135,2022-07-11,0.95,1,219,4,NaN,10025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39876,27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,135,365,2,2019-09-16,0.04,7,365,0,NaN,000
39877,654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,180,1,5,2022-08-24,1.92,1,0,5,NaN,000
39878,553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,240,5,18,2022-08-22,2.87,1,152,18,NaN,000
39879,698195550745703156,"Luxurious private waterfront terrace, 2BR 2BA Apt",151487807,Asser,Brooklyn,Williamsburg,40.709192,-73.970121,Entire home/apt,400,30,0,NaN,NaN,1,311,0,NaN,000
39880,48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,40,1,15,2021-10-25,0.91,1,0,4,NaN,000

In [ ]:
import geopy
from geopy.geocoders import Nominatim
import pandas as pd

longlat = pd.read_csv("/Users/palaparthisainikhil/Downloads/listings.csv")
geolocator = geopy.Nominatim(user_agent="check_1")

def get_zip_code(longlat, geolocator, latitude, longitude):
    try:
        location = geolocator.reverse((latitude, longitude))
        return location.raw['address']['postcode']
    except:
        return "000"

##longlat['zipcode'] = longlat.apply(get_zip_code, axis=1, geolocator=geolocator, latitude='latitude', longitude='longitude')

longlat["zipcode"] = " "
for i in range(len(longlat)):
    longlat["zipcode"].iloc[i]=get_zip_code(longlat,geolocator,longlat["latitude"].iloc[i],longlat["longitude"].iloc[i])

longlat

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [8]:
import geopy
from geopy.geocoders import Nominatim
import pandas as pd

longlat = pd.read_csv("/Users/palaparthisainikhil/Downloads/listings.csv")
longlat=longlat.head(3000)
geolocator = geopy.Nominatim(user_agent="check_1")

def get_zip_code(longlat, geolocator, latitude, longitude):
    try:
        location = geolocator.reverse((longlat[latitude], longlat[longitude]))
        return location.raw['address']['postcode']
    except:
        return "000"

longlat['zipcode'] = longlat.apply(get_zip_code, axis=1, geolocator=geolocator, latitude='latitude', longitude='longitude')


longlat

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,zipcode
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.73777,-73.95366,Hotel room,308,2,42,2022-07-18,0.30,30,217,4,NaN,11222
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64529,-73.97238,Private room,299,30,9,2018-10-19,0.11,9,356,0,NaN,11218
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.70309,-73.89963,Entire home/apt,425,30,13,2019-11-12,0.10,6,365,0,NaN,11385
3,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.80635,-73.92201,Private room,60,30,0,NaN,NaN,1,83,0,NaN,10454
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.80630,-73.95985,Private room,75,31,135,2022-07-11,0.95,1,219,4,NaN,10025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,4430819,Prime East Village One Bedroom Apt!,23002143,Amanda,Manhattan,East Village,40.72919,-73.98682,Entire home/apt,195,5,3,2015-08-03,0.03,1,0,0,NaN,10003
2996,4431247,1st Time/Solo/Duo Travelers!Charming Studio Sh...,22382732,Sue,Manhattan,Chelsea,40.74773,-74.00144,Shared room,80,2,190,2022-08-25,2.19,1,283,32,NaN,10001
2997,4431674,HOME AWAY FROM HOME,21841949,Patwell,Manhattan,Harlem,40.80068,-73.95154,Shared room,150,30,36,2018-11-06,0.43,2,187,0,NaN,10026
2998,4435766,West Village - Celebrities + LIGHT,23025661,Lee,Manhattan,West Village,40.73201,-74.00541,Entire home/apt,314,30,0,NaN,NaN,1,0,0,NaN,10014
2999,4436185,Charming Park Slope Studio Sublet,3708965,Nicole,Brooklyn,South Slope,40.66156,-73.98740,Entire home/apt,60,30,0,NaN,NaN,1,0,0,NaN,11215